<h1>Welcome to Land Registration System</h1>
<main>
<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron">
      <h1>Land Title Registry based on a Blockchain</h1>
      <p></p>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="well">
      <h3></h3>
      <h3></h3>
    </div>
  </div>
</div>
</main>

