
 <h1 class="text-center">Welcome to Land Registration System</h1>
<main>
    <div class = jumbotron>
        <h1 class="text-center"> Powered by Hyperledger Fabric Blockchain</h1>
        <p class="text-center">The block chain network of choice for permissioned systems</p>
        <p class="text-center">Built in Partial Fullfilment of Electronic Engineering Honours Degree</p>
        </div>
</main>

