<h1 class="text-center">Welcome to Land Registration System</h1>
<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>Welcome to the Development round robin.</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3>Access</h3>
      <h3>The Bank</h3>
    </div>
  </div>
</div>
</main>

