
 <h1 class="text-center">Welcome to Land Registration System</h1>
<main>
    <div class = jumbotron>
        <div class="text-center">
            <h1> Powered by Hyperledger Fabric Blockchain</h1>
            <p>The block chain network of choice for permissioned systems</p>
            <p>Built in Partial Fullfilment of Electronic Engineering Honours Degree</p>
        </div>
    </div>
</main>

