
   
    <h1>Welcome to Land Registration System</h1>
    <main>
        <div class = jumbotron>
            <h1> This is Great</h1>
            <p>Welcome to tempalating using EJS</p>
            <p>We are building this thing for 2022 Final Year</p>

            <h2>Variable</h2>
            <p><%= tagLine%> </p>

            <ul>
                <% mascots.forEach(function(mascot) { %>
                  <li>
                    <strong><%= mascot.name %></strong>
                    representing <%= mascot.organization %>,
                    born <%= mascot.birth_year %>
                  </li>
                <% }); %>
            </ul>

        </div>
    </main>

    