<div class="jumbotron">
    <form action="/realtor/landtitle/history" class="col" method="post">
        <div class="mx-auto" style="width:150px;">
            <div class="form-group">
                <label for="id"><strong>Get History Land Title ID:</strong></label>
                <input type="text" class="form-control" placeholder="eg Landtitle04" name="id"> 
              
            </div>
        </div>

        <div class="mx-auto" style="width:150px;">
            <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
        </div>

    </form>
</div>