<form action="/landtitle/view" class="row" method="post">
    <div class="form-group">
        <label for="id">Land Title ID:</label>
        <input type="text" class="form-control" placeholder="eg Landtitle04" name="id"> 
      
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>