<form action="/realtor/landtitle/view" class="row" method="post">
    <div class="col-md-8">
        <div class="mx-auto" style="width: 750px;">
            <div class="form-group">
                <label for="id"><strong>Land Title ID:</strong></label>
                <input type="text" class="form-control" placeholder="eg Landtitle04" name="id"> 
              
            </div>
        </div>
 
        <div class="mx-auto" style="width:150px;">
            <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
        </div>
    </div>
</form>