<form action="/realtor/landtitle/trading" class="container" method="post">
    <div class="form-group">

        <h3>Warning!</h3>
        <p><strong> Enter Land Title ID of property you are under contractual obligation to sell</strong></p>
        <label for="id">Land Title ID:</label>
        <input type="text" class="form-control" placeholder="eg Landtitle04" name="id"> 
      
    </div>
    <div class="mx-auto" style="width:150px;">
        <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
    </div>
</form>