<div style=" position:bottom; bottom:auto; left:0;">
    <footer class="text-center text-muted">&copy; Copyright 2022 Shingirai D Jongwe National University of Science and Technology</footer>
    <footer class="text-center text-muted">Registar</footer>
</div>
