<div class="container">
  <div >
    <div class="text-center">
      <h2>Land Registration System Using Blockchain</h2>
    </div>
  </div>

</div>
<nav class="nav navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Registrar</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/index">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/registrar/landtitle/form">Create New Land Title</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/registrar/history/id">View Land Title History</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="/registrar/landtitle/id">Quered Land Title</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>

    </ul>
  </nav>